.vscode
.vscode/setting.json
.vscode/c_cpp_properties.json

pruebas.cpp
fecha.o 
direccion.o 
dtDepartamento.o 
dtEdificio.o 
dtInmobiliaria.o 
dtMensaje.o 
dtPropiedadInmo.o 
dtPropiedad.o 
dtRespuesta.o 
dtZona.o 
mensajesPropiedad.o 
propZona.o 
registroMensajes.o 
zonasDep.o 
administrador.o 
apartamento.o 
casa.o 
chat.o 
departamento.o 
edificio.o 
factory.o 
interesado.o 
ISistema.o 
mensaje.o 
propiedad.o 
inmobiliaria.o 
sistema.o 
usuario.o 
zona.o
main.o 
String.o 
ICollectible.o 
ICollection.o 
IDictionary.o 
IIterator.o 
IKey.o 
OrderedKey.o 
List.o 
ListIterator.o 
ListNode.o 
OrderedDictionary.o 
OrderedDictionaryEntry.o
Integer.o
programa